@tailwind base;

@layer base {
    h1 {
        @apply text-[32px] font-semibold mb-6;
    }

    h2 {
        @apply text-xl font-semibold mb-4;
    }

    button {
        @apply w-1/2 py-6 px-16;
    }
}

@tailwind components;
@tailwind utilities;

.details{
    font-size: 18px;
    font-weight: 500;
    color: #8E8E8E;
}

.selectedSite {
    background: #0063BE;
    border: 1px solid #0063BE;
    color: white;
}

.notSelectedSite {
    background: white;
    border: 1px solid #d9d9d9;
    color: black;
}

body {
    background: yellow;
}
